<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <!-- th:object 를 사용하여 model 에서 memberSignUpForm 속성을 참조 -->
    <form th:action="@{/members/signUp}" th:object="${memberSignUpForm}" method="post">
        <div class="form-group">
            <label for="email">EMAIL</label>
            <input type="text" id="email" th:field="*{email}" placeholder="이메일을 입력하세요">
            <div th:if="${#fields.hasErrors('email')}" style="color:red;">
                <p th:text="${#fields.errors('email')[0]}"></p>
            </div>

            <label for="password">PASSWORD</label>
            <input type="password" id="password" th:field="*{password}" placeholder="비밀번호를 입력하세요">
            <div th:if="${#fields.hasErrors('password')}" style="color:red;">
                <p th:text="${#fields.errors('password')[0]}"></p>

            </div>

            <label for="phoneNumber">PHONE NUMBER</label>
            <input type="text" id="phoneNumber" th:field="*{phoneNumber}" placeholder="핸드폰 번호를 입력하세요">
            <div th:if="${#fields.hasErrors('phoneNumber')}" style="color:red;">
                <p th:text="${#fields.errors('phoneNumber')[0]}"></p>
            </div>

            <label for="fullName">FULL NAME</label>
            <input type="text" id="fullName" th:field="*{fullName}" placeholder="이름을 입력하세요">
            <div th:if="${#fields.hasErrors('fullName')}" style="color:red;">
                <p th:text="${#fields.errors('fullName')[0]}"></p>

            </div>
        </div>
        <button type="submit">등록</button>
    </form>
    <!-- 에러 메시지를 출력하는 예시 -->
    <div th:if="${errorMessage}" style="color:red;">
        <p th:text="${errorMessage}"></p>
    </div>
</div>
</body>
</html>

